<% provide(:title, 'About Us') %>
<h1>About RainTexts</h1>
<p>
	Have you ever been in a rush and not had time to check the weather? Find yourself walking out the door into a downpour, umbrellaless? Well, no more! RainTexts will send you a morning text to remind you to grab an umbrella.
</p> 