<% provide(:title, 'About Us') %>
<h1>About RainyText</h1>
<p>
	Have you ever been in a rush and not had time to check the weather? Find yourself walking out the door into a downpour without an umbrella? Well, no more! RainyText will send you a morning text to remind you to grab an umbrella if it's going to rain!
</p> 