<% provide(:title, 'Help') %>
<div class="hero-unit">
	<h1 style="margin-bottom:45px">RainyText Help</h1>
	<h2 style="text-align:left;margin-bottom:15px">How does this work?</h2>
	<ol style="margin-left:40px">
		<li>Sign up for an account with your e-mail and password.</li>
		<li>Click the "Your Forecast Areas" button.</li>
		<li>Click the "Add a Forecast Area" button.</li>
		<li>Enter the appropriate information, click "Submit", and you'll never get drenched in the rain again!</li>
	</ol>
</div>
