<% provide(:title, 'Help') %>
<div class="hero-unit">
	<h1 class="help">RainyText Help</h1>
	<h2 class="helph2">How does this work?</h2>
	<ol style="margin-left:40px">
		<li>Sign up for an account with your e-mail and password.</li>
		<li>Click the "Your Forecast Areas" button.</li>
		<li>Click the "Add a Forecast Area" button.</li>
		<li>Enter the appropriate information, click "Submit", and you'll never get drenched in the rain again!</li>
	</ol>

	<h2 class="helph2">More Questions? Suggestions?</h2>
	<text class="helptext">Direct them to <strong>rainytexthelp@rainytext.com</strong>!</text>
	<br />
	<br />
	<text class="helptext">
	We'll get back to you as soon as possible!</text>
</div>
