<div class="center hero-unit">
	<h1>Welcome to RainyText</h1>
	<h2>
		Getting soaked in the rain?
 		We solve all your problems by reminding you to grab your umbrella before it starts raining!
 	</h2>
 	<% if current_user %>
 	<%= link_to "Your Forecast Areas", forecast_areas_path , class: "btn btn-large btn-primary" %>
 	<% else %>

 	<div class="row homepagetable">
 	<div class="span3 homerows">
 		<h3>Already a member?</h3>
 		<%= link_to "Sign in now!", new_user_session_path , class: "btn btn-large btn-success homesign" %>
 	</div>

 	<div class="span3" style="margin-right:-10px;">
 		<h3>First time at RainyText?</h3>
 		<%= link_to "Sign up now!", new_user_registration_path , class: "btn btn-large btn-primary homesign" %>
 	</div>
 	</div>
 	<% end %>
</div>

 
 