<footer class="footer">
  <nav>
  <small>
    <a href="#">RainTexts</a> by Shail Patel
  </small>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>